<div class="dp-image-slideshow-box " [ngClass]="{'show': isShow}">
    <div class="dp-image-slideshow-screen" >
        <button (click)="close()" class="dp-image-slideshow-close dp-button">
            <i class="fa fa-times-circle-o " aria-hidden="true"></i>
        </button>
        <button (click)="next()" class="dp-image-slideshow-right dp-button">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
        <button (click)="left()" class="dp-image-slideshow-left dp-button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <img class="dp-image-slideshow-img" [src]="imageSrc" alt=""/>
    </div>
</div>