src/springboot/.idea
src/springboot/target
src/springboot/src/main/java/wiwitaditya/demo/dotapedia/zzzz/

src/angular/node_modules
src/angular/.angular
src/angular/src/app_old
src/angular/cypress/screenshots/

__dropbox