.dp-modal .dp-modal-dialog.dp-stick-on-top {
    margin-top: 50px;
}

.dp-modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 850px;
}

.dp-modal {
    background-color:rgba(0, 0, 0, 0.5);
}
.dp-series-close-btn {
    top: 10px;
    right: 12px;
}
.dp-modal.series-show {
    display: block;
}
.nk-match-team-logo img {
    width: 50px;
    height: 50px;
}

.dp-game-header {
    cursor: pointer;
    position: relative;
    background: #dd163b;
    color: #ffffff;
    padding: 10px 20px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.dp-game-header .winner {
    position: absolute;
    top: 11px;
    right: 17px;
}
.dp-game-header .dp-team-participant-logo {
    height: 20px;
    height: 20px;
}
.dp-game-detail {
    display: none;
}
.dp-game-detail.show {
    display: block;
}
.dp-game-detail .dp-hero-image {
    height: 30%;
    width: 30%;
    margin-right: 10px;
}