<div class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <h3 class="nk-decorated-h-3"><span><span class="text-main-1">All</span> Players & Countries</span></h3>
        <div class="row">
            <div class="col-12 dp-player-countries-box">
                <div class="nk-widget nk-widget-highlighted">
                    <div class="nk-widget-content dp-player-countries-box-content" >
                        <div class="row">
                            <div class="nk-form nk-form-style-1 col-6" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Find player...">
                                    <button class="nk-btn nk-btn-color-main-1">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <button class="nk-btn nk-btn-color-main-1 dp-reset"
                                        [ngClass]="{'show': isResetShow}"
                                        (click)="resetSearching()">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row dp-country-and-player">
                            <div class="dp-countries" [ngClass]="{'col-12': !countryFlag, 'col-6': countryFlag}">
                                <div class="row">
                                    <div class="country" *ngFor="let pc of playerCountries"
                                        [ngClass]="{'selected': pc.selected, 'col-3': !countryFlag, 'col-6': countryFlag}"
                                        (click)="selecCountry(pc)">
                                        {{pc.country}} ({{pc.totalPlayer}})
                                    </div>
                                </div>

                            </div>
                            <div class="dp-players col-6">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 dp-player-wrapper" *ngFor="let p of players">
                                        <div class="nk-gallery-item-box dp-image-wrapper" routerLink="/player/{{p.id}}">
                                            <img [src]="'assets/image/players/' + p.id + '.png'" alt=""
                                                onerror="this.src='assets/image/players/null.png';">
                                            <div class="dp-name-wrapper">
                                                <h5 class="dp-player-name">{{p.nickName}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>