<div class="ngtt__match-wrapper">
  <div class="ngtt__team-wrapper">
    <div class="ngtt__team-avatar">
      <img [src]="'assets/image/teams-logo-100/' + match?.teamAId + '.png'" class="img-fluid logo-100" alt="">
    </div>
    <h6 class="ngtt__team-title">{{match?.teamAShortName}}</h6>
    <div class="ngtt__team-score">{{match?.teamAScore}}</div>
  </div>

  <div class="ngtt__team-wrapper">
    <div class="ngtt__team-avatar">
      <img [src]="'assets/image/teams-logo-100/' + match?.teamBId + '.png'" class="img-fluid logo-100" alt="">
    </div>
    <h6 class="ngtt__team-title">{{match?.teamBShortName}}</h6>
    <div class="ngtt__team-score">{{match?.teamBScore}}</div>
  </div>
</div>
