<div class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <h3 class="nk-decorated-h-3"><span><span class="text-main-1">Latest </span>News</span></h3>
    </div>
    <div class="nk-gap-1"></div>
</div>
<div class="nk-main">
    <div class="container">
        <div class="nk-blog-fullwidth dp-blog-fullwidth">
            <div class="nk-blog-post" *ngFor="let n of news">
                <a target="_blank" [href]="n.url" class="nk-post-img dp-post-img">
                    <img [src]="n.urlToImage"
                        onerror="this.src='assets/images/post-1-fw.jpg'" />
                </a>
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-8 col-lg-9">
                        <h2 class="nk-post-title h4">
                            <a target="_blank" [href]="n.url">
                                {{n.title}}
                            </a>
                        </h2>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text dp-post-text">
                            <p>She clutched the matron by the arm, and forcing her into a chair by the bedside, was about to speak, when looking round, she caught sight of the two old women bending forward in the attitude of eager listeners. They belong to the old gentleman, said Oliver, wringing his hands; to the good, kind, old gentleman who took me into his house, and had me nursed, when I was near dying of the fever . Oh, pray send them back; send him back the books and money . Keep me here all my life long; but pray, pray send them back...</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="nk-post-by dp-post-by">
                            <img src="assets/images/avatar-1.jpg" alt="Hitman" class="rounded-circle" width="60"> by 
                            <a target="_blank" [href]="n.url">{{n.author}}</a>
                            <br> in Sep 18, 2018 <br>
                        </div>
                        <div class="nk-gap-3"></div>
                        <div class="text-right">
                            <a target="_blank" [href]="n.url" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>