.dp-blog-fullwidth {
    background: #2f3541;
}
.dp-blog-post {
    margin-bottom: 20px;
}
.dp-row-news-title {
    margin: 0px;
    padding-top: 10px !important;
    padding-left: 27px;
}
.dp-post-title.h4.nk-post-title{
    margin-left: 0px;
    margin-bottom: 0px !important;
}
.dp-row-news-content {
    margin: 0px;
    padding-top: 10px !important;
}
.dp-row-news-content > div {
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.dp-post-text {
    background: #2a2e38;
    color: #ffffff;
}
.dp-post-by {
    background: #2a2e38;
    color: #ffffff;
    padding: 5px 5px 5px 5px;
    text-align: left;
}
.dp-post-img img {
    max-width: 1920px;
    max-height: 459px;
    padding: 10px;
    object-fit: contain;
}