<nav>
  <div class="logo">
    <img src="assets/image/dotapedia.png" alt="">
  </div>
  <div class="mini-logo">
    <img src="assets/image/mini_dotapedia.png" alt="">
  </div>
  <ul>
  <li class="li-0 active"><a href="#1"><i class="fa fa-home"></i> <em>DoTA</em></a></li>
  <li class="li-1"><a href="#2"><i class="fa fa-table"></i> <em>Tournament</em></a></li>
  <li class="li-2"><a href="#3"><i class="fa fa-users"></i> <em>Teams</em></a></li>
  <li class="li-3"><a href="#4"><i class="fa fa-gamepad"></i> <em>Hero</em></a></li>
  <li class="li-4"><a href="#5"><i class="fa fa-clock-o"></i> <em>Schedule</em></a></li>
  </ul>
</nav>

<div class="slides">
  <div class="slide" id="1">
  <div class="content first-content">
    <div class="container-fluid">
      <div class="col-md-3">
        <div class="author-image"><img src="assets/image/dota-map.png" alt="Author Image"></div>
      </div>
      <div class="col-md-9">
        <h2>Defense of the Ancients</h2>
        <p>
        <strong><a rel="nofollow" href="https://www.dota2.com/home">Dota 2</a></strong> is a multiplayer online battle arena <em>(MOBA)</em> video game in which two teams of five players compete to collectively destroy a large structure defended by the opposing team known as the "<em>Ancient</em>", whilst defending their own.
        </p>
        <div class="main-btn"><a href="#2">Read More</a></div>
        <div class="fb-btn"><a rel="nofollow" target="_blank" href="https://store.steampowered.com/app/570/Dota_2">Download</a></div>
      </div>
    </div>
  </div>
  </div>
  <div class="slide" id="2">
  <div class="content second-content">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="left-content">
          <h2>OGA Dota PIT Season 5: Europe/CIS</h2>
          <div class="col-md-4 left-section">
            <h3>League Information</h3>
            <img src="assets/image/dota-ti-2.jpeg" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
          <div class="col-md-8 right-section">
            <div class="col-md-6 left-side">
              <h3>Format</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
            <div class="col-md-6 right-side">
              <h3>Talent</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
            <div class="col-md-6 right-side">
              <h3>Price Pool</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
            <div class="col-md-6 right-side">
              <h3>Matchs</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="left-content">
          <h2>DPC WEU 2021/22 Tour 1: Division I (DreamLeague Season 16)</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="left-content">
          <h2>Lorem Ipsum</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="left-content">
          <h2>Lorem Ipsum</h2>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="slide" id="3">
  <div class="content third-content">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="row">
          <div class="first-section section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-content">
                    <h2>Team Spirit - TI 2021 Champion</h2>
                    <ul>
                      <li>Illya "Yatoro" Mulyarchuk</li>
                      <li>Alexander "TORONTOTOKYO" Khertek</li>
                      <li>Magomed "Collapse" Khalilov</li>
                      <li>Miroslaw "Mira" Kolpakov</li>
                      <li>Yaroslav "Miposhka" Naidenov</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="right-image">
                    <img src="assets/image/ti-2021.jpeg" alt="first service">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="second-section section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/image/ti-2019.jpeg" alt="second service">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="right-content">
                    <h2>OG - TI 2019 & 2018 Champions</h2>
                    <ul>
                      <li>Anathan "ana" Pham</li>
                      <li>Topias "Topson" Taavitsainen</li>
                      <li>Sébastien "Ceb" Debs</li>
                      <li>Jesse "JerAx" Vainikka</li>
                      <li>Johan "NOtail" Sundstein</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="first-section section">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-content">
                    <h2>Team Liquid - TI 2017 Champion</h2>
                    <ul>
                      <li>Lasse "MATUMBAMAN" Urpalainen</li>
                      <li>Amer "Miracle-" Al-Barkawi</li>
                      <li>Ivan "MinD_ContRoL" Ivanov</li>
                      <li>Maroun "GH" Merhej</li>
                      <li>Kuro "KuroKy" Salehi Takhasomi</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="right-image">
                    <img src="assets/image/ti-2017.jpeg" alt="first service">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="slide" id="4">
  <div class="content fourth-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/first_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number One</h2>
                  <p>Quisque sit amet lacus in diam pretium faucibus. Cras vel justo lorem.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/first_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/second_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Two</h2>
                  <p>Donec eget dictum tellus. Curabitur a interdum diam. Nulla vestibulum porttitor porta.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/second_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/third_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Three</h2>
                  <p>Cras varius dolor et augue fringilla, eu commodo sapien iaculis.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/third_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/fourth_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Four</h2>
                  <p>Vestibulum augue ex, finibus sit amet nisi id, maximus ultrices ipsum.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/fourth_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/fifth_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Fifth Item</h2>
                  <p>Donec commodo, ex nec rutrum venenatis, nisi nisl malesuada magna.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/fifth_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/sixth_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Sixth Item</h2>
                  <p>Maecenas dapibus neque sed nisl consectetur, id semper nisi egestas.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/sixth_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/seventh_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Seven</h2>
                  <p>Etiam aliquet, est id varius fringilla, eros libero pellentesque lectus.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/seventh_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/eight_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Eight</h2>
                  <p>Vestibulum augue ex, finibus sit amet nisi id, maximus ultrices ipsum.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/eight_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/ninth_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Nine</h2>
                  <p>Orci varius natoque penatibus et magnis dis parturient montes.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/ninth_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/fifth_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Number Ten</h2>
                  <p>Vestibulum augue ex, finibus sit amet nisi id, maximus ultrices ipsum.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/fifth_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/first_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Eleventh Item</h2>
                  <p>Cras varius dolor et augue fringilla, eu commodo sapien iaculis.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/first_item.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="assets/image/second_big_item.jpg" data-lightbox="image-1"><div class="hover-effect">
                <div class="hover-content">
                  <h2>Twelvth Item</h2>
                  <p>Etiam tincidunt magna ex, sit amet lobortis felis bibendum id.</p>
                </div>
              </div></a>
              <div class="image">
                <img src="assets/image/second_item.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="slide" id="5">
  <div class="content fifth-content">
    <div class="container-fluid">
      <div class="col-md-6">
        <h2>What is Lorem Ipsum?</h2>
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
      </div>
      <div class="col-md-6">
        <h2>Why do we use it?</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="footer">
  <div class="content">
    <p>Copyright &copy; 2020 Company Name . Template: <a rel="nofollow" href="https://templatemo.com/tm-512-moonlight">Moonlight</a></p>
  </div>
</div>

<router-outlet></router-outlet>
