<nav>
  <div class="logo">
    <img src="assets/image/dotapedia.png" alt="">
  </div>
  <div class="mini-logo">
    <img src="assets/image/mini_dotapedia.png" alt="">
  </div>
  <ul>
    <li class=""><a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i><em>DoTA</em></a></li>
    <li class=""><a routerLink="/tournament" routerLinkActive="active"><i class="fa fa-table"></i><em>Tournament</em></a></li>
    <li class=""><a routerLink="/team" routerLinkActive="active"><i class="fa fa-users"></i><em>Teams</em></a></li>
    <li class=""><a routerLink="/hero" routerLinkActive="active"><i class="fa fa-gamepad"></i><em>Hero</em></a></li>
    <li class=""><a routerLink="/schedule" routerLinkActive="active"><i class="fa fa-clock-o"></i><em>Schedule</em></a></li>
  </ul>
</nav>
<div class="slides">
  <div class="slide {{activeRoute}}">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <div class="content">
    <p>Copyright &copy; 2020 Company Name . Template: <a rel="nofollow" href="https://templatemo.com/tm-512-moonlight">Moonlight</a></p>
  </div>
</div>