<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  Dotapedia
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="assets/image/dota2-logo.jpeg" />

    <!-- <h4 class="name">John Smith</h4> -->
    <!-- <p class="designation">Software Engineer</p> -->

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>DotA</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tournament" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span>Tournament</span>
    </button>
    <button mat-button class="menu-button" routerLink="/team" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span>Team</span>
    </button>
    <button mat-button class="menu-button" routerLink="/hero" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>Hero</span>
    </button>
    <button mat-button class="menu-button" routerLink="/schedule" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span>Schedule</span>
    </button>

    <mat-divider></mat-divider>

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>