.dp-player-countries-box .dp-player-countries-box-content {
    margin-top: 0px;
}
.dp-player-countries-box .dp-player-countries-box-content form {
}
.dp-player-countries-box .dp-reset {
    display: none;
}
.dp-player-countries-box .dp-reset.show {
    display: block;
}

.dp-player-countries-box .dp-search-player {
    display: none;
}
.dp-player-countries-box .dp-search-player.show {
    display: flex;
}

.dp-player-countries-box .dp-country-and-player {
    margin-top: 10px;
}
.dp-player-countries-box .dp-countries .country,
.dp-player-countries-box .dp-players .player {
    cursor: pointer;
    color: #fff;
}
.dp-player-countries-box .dp-countries .country:hover,
.dp-player-countries-box .dp-players .player:hover {
    color: #dd163b;
    opacity: 0.7;
}
.dp-player-countries-box .dp-countries .country.selected {
    color: #dd163b;
}
.dp-player-countries-box .dp-countries .country.selected:hover {
    color: #fff;
    opacity: 0.7;
}

.dp-players .dp-player-wrapper .dp-image-wrapper {
    cursor: pointer;
}
.dp-players .dp-player-wrapper .dp-image-wrapper .dp-name-wrapper {
    background-color: #2a2e38; 
    padding-top: 5px;
    padding-bottom: 10px;
}
.dp-players .dp-player-wrapper .dp-player-name {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}