<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-checkbox class="example-margin" [(ngModel)]="allRegion" (change)="allRegionChange($event)">
                All Region
            </mat-checkbox>
        </div>
        <div class="col-12 col-sm-6 col-md-4" *ngFor="let region of regions">
            <mat-checkbox class="example-margin" [(ngModel)]="region.checked" (change)="selectedRegionChange($event)"
                [ngClass]="region.value">
                {{region.name}}
            </mat-checkbox>
        </div>
    </div>
    <div class="row tournaments">
        <div class="col col-12 col-sm-6 wrapper" *ngFor="let t of tournaments">
            <div class="col info" [ngClass]="t.region">
                <div class="col-12">
                    <h3>
                        {{t.name}}
                    </h3>
                </div>
                <div class="col-12">
                    <mat-list>
                        <mat-list-item>
                            <div class="col-6">
                                Region
                            </div>
                            <div class="col-6">
                                {{ t.region | region }}
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="col-6">
                                Prize Pool
                            </div>
                            <div class="col-6">
                                {{ t.prizePool | currency:'USD': 'symbol' }}
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="col-6">
                                Start Date
                            </div>
                            <div class="col-6">
                                {{ t.startDate | date: 'mediumDate' }} 
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="col-6">
                                End Date
                            </div>
                            <div class="col-6">
                                {{ t.endDate | date: 'mediumDate' }} 
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <div class="col-6">
                                Format
                            </div>
                            <div class="col-6">
                                {{ t.tournamentType | tournamentPipe }}
                            </div>
                        </mat-list-item>
                      </mat-list>
                </div>
                <div class="col-12 image">
                    <img [src]="'assets/image/tournaments/' + t.image" >
                </div>
            </div>
        </div>

    </div>
</div>