.dp-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
/* Hide the browser's default checkbox */
.dp-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.dp-checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.dp-checkbox-container:hover input ~ .dp-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.dp-checkbox-container input:checked ~ .dp-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.dp-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.dp-checkbox-container input:checked ~ .dp-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.dp-checkbox-container .dp-checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dp-tournament-left-box {
  background-color: #292e38;
  cursor: pointer;
}
.dp-tournament-left-box .dp-tournament-name {
  margin-top: 10px;
  cursor: pointer;
}
.dp-image-box {
  width: 100%;
}
.dp-image-box img {
  width: 100%;
  height: auto;
}