<div class="content second-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="left-content">
                <h2>OGA Dota PIT Season 5: Europe/CIS</h2>
                <div class="col-md-4 left-section">
                    <img src="assets/image/dota-ti-2.jpeg" alt="">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="col-md-8 right-section">
                    <div class="col-md-6 left-side">
                        <h3>Format</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3>Talent</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3>Price Pool</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                    <div class="col-md-6 right-side">
                        <h3>Matchs</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="left-content">
                <h2>DPC WEU 2021/22 Tour 1: Division I (DreamLeague Season 16)</h2>
            </div>
        </div>
        <div class="col-md-12">
            <div class="left-content">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
        <div class="col-md-12">
            <div class="left-content">
                <h2>Lorem Ipsum</h2>
            </div>
        </div>
    </div>
</div>