<div class="container">
    <div class="row">
        <div class="col-md-6 upcoming-match">
            <h2>
                Upcoming Match
            </h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            asdf
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let s of schedules">
                    <tr>
                        <td class="team-a">
                            {{s.radiantTeamName}}
                        </td>
                        <td class="logo-a">
                            <div class="image-wrapper">
                                <img [src]="'assets/image/teams-logo-100/' + s.radiantTeamId + '.png'" class="" alt="">
                            </div>
                        </td>
                        <td class="separator">
                            -
                        </td>
                        <td class="logo-b">
                            <div class="image-wrapper">
                                <img [src]="'assets/image/teams-logo-100/' + s.direTeamId + '.png'" class="" alt="">
                            </div>
                        </td>
                        <td class="team-b">
                            {{s.direTeamName}}
                        </td>
                    </tr>                    
                    <tr>
                        <td colspan="4">
                            <span class="startdate">{{s.startDateStr}}</span>
                            <span class="region">{{s.regionAbbr}}</span>
                            <span class="tournament-name">{{s.tournamentName}}</span>
                        </td>
                        <td colspan="1">
                            <div class="image-wrapper">
                                <img [src]="'assets/image/tournaments/' + s.tournamentImage" class="" alt="">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 news">
            <h2>News</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                <a href="#">read-more</a>
            </p>
        </div>
    </div>
</div>