<div class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="nk-decorated-h-3"><span><span class="text-main-1">Upcoming</span> Match</span></h3>
                <div class="nk-match" *ngFor="let match of nextMatchs">
                    <div class="nk-match-team-left">
                        <a href="" routerLink="/team/{{match.radiantTeamId}}">
                            <span class="nk-match-team-logo">
                                <img [src]="'assets/image/teams-logo-100/' + match.radiantTeamId + '.png'" alt="...">
                            </span>
                            <span class="nk-match-team-name"> {{match.radiantTeamName}} </span>
                        </a>
                    </div>
                    <div class="nk-match-status">
                        <div>
                            <span class="nk-match-status-vs">VS</span>
                            <span class="nk-match-status-date">{{match.startDateStr}}</span>
                            <div class="dp-tournament-image-wrapper">
                                <img [src]="'assets/image/tournaments/' + match.tournamentImage"
                                    routerLink="/tournament/{{match.tournamentId}}" class="" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="nk-match-team-right">
                        <a href="" routerLink="/team/{{match.direTeamId}}">
                            <span class="nk-match-team-name"> {{match.direTeamName}} </span>
                            <span class="nk-match-team-logo">
                                <img [src]="'assets/image/teams-logo-100/' + match.direTeamId + '.png'" alt="...">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Matches</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-widget-match">
                                <select name="select" class="form-control valid" aria-invalid="false"
                                    (change)="prevMatchSelectRegion($event)">
                                    <option value="" disabled="" selected="">Select a Region</option>
                                    <option value="ALL">ALL</option>
                                    <option *ngFor="let r of regions" value="{{r.key}}">{{r.value}}</option>
                                </select>
                            </div>
                            <div class="nk-widget-match" *ngFor="let match of prevMatchs">
                                <div class="row">
                                    <div class="col-9">
                                        <span class="nk-widget-match-teams">
                                            <span class="nk-widget-match-team-logo">
                                                <img [src]="'assets/image/teams-logo-100/' + match.radiantTeamId + '.png'"
                                                    routerLink="/team/{{match.radiantTeamId}}" alt="...">
                                            </span>
                                            <span class="nk-widget-match-vs">
                                                {{match.radiantScore}} - {{match.direScore}}
                                            </span>
                                            <span class="nk-widget-match-team-logo">
                                                <img [src]="'assets/image/teams-logo-100/' + match.direTeamId + '.png'"
                                                    routerLink="/team/{{match.radiantTeamId}}" alt="...">
                                            </span>
                                        </span>
                                        <span class="nk-widget-match-date">{{match.startDateStr}}</span>
                                    </div>
                                    <div class="col-3 dp-tournament-image-wrapper-prev-match">
                                        <img [src]="'assets/image/tournaments/' + match.tournamentImage"
                                            routerLink="/tournament/{{match.tournamentId}}" class="" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="nk-widget-match">
                                <div class="row dp-prev-match-action">
                                    <div class="col-6 dp-prev-next">
                                        <span class="prev" [ngClass]="{'not-allowed': prevPage == 0}" (click)="prevPrevMatches()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                            Prev
                                        </span>
                                        <span class="next" (click)="nextPrevMatches()">
                                            Next
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="col-6 dp-view-more">
                                        View More
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>