.container {
    padding-top: 10px;
}
.upcoming-match table {
    color: #ffffff;
}
.upcoming-match table .series {
    background-color: #908f908f;
    cursor: pointer;
}
.upcoming-match table .tournament-info {
    background-color: #908f9040;
}
.upcoming-match table .logo-a {
    text-align: right;
}
.upcoming-match table .team-a {
    text-align: right;
}
.upcoming-match table .separator {
    text-align: center;
}
.upcoming-match table .team-b {
    text-align: left;
}
.upcoming-match table .logo-b {
    text-align: left;
}
.upcoming-match .image-wrapper {
    height: 20px;
    width: 20px;
    position: relative;
    display: flex;
    width: 100%;
}
.upcoming-match .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}
.upcoming-match .startdate {
    padding-right: 20px;
}
.upcoming-match .region {
    padding-right: 20px;
}


.news p {
    text-indent: 30px;
}
