<div class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="nk-decorated-h-3"><span><span class="text-main-1">Upcoming</span> Match</span></h3>

                <div class="nk-match" *ngFor="let match of schedules">
                    <div class="nk-match-team-left">
                        <a href="">
                            <span class="nk-match-team-logo">
                                <img [src]="'assets/image/teams-logo-100/' + match.radiantTeamId + '.png'" alt="...">
                            </span>
                            <span class="nk-match-team-name"> {{match.radiantTeamName}} </span>
                        </a>
                    </div>
                    <div class="nk-match-status">
                        <div>
                            <span class="nk-match-status-vs">VS</span>
                            <span class="nk-match-status-date">{{match.startDateStr}}</span>
                            <div class="tournament-image-wrapper">
                                <img [src]="'assets/image/tournaments/' + match.tournamentImage" class="" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="nk-match-team-right">
                        <a href="">
                            <span class="nk-match-team-name"> {{match.direTeamName}} </span>
                            <span class="nk-match-team-logo">
                                <img [src]="'assets/image/teams-logo-100/' + match.direTeamId + '.png'" alt="...">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Matches</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-widget-match">
                                <a href="#">
                                    <span class="nk-widget-match-left">
                                        <span class="nk-widget-match-teams">
                                            <span class="nk-widget-match-team-logo">
                                                <img src="assets/images/team-1.jpg" alt="">
                                            </span>
                                            <span class="nk-widget-match-vs">VS</span>
                                            <span class="nk-widget-match-team-logo">
                                                <img src="assets/images/team-2.jpg" alt="">
                                            </span>
                                        </span>
                                        <span class="nk-widget-match-date">CS:GO - Apr 28, 2018 8:00 pm</span>
                                    </span>
                                </a>
                            </div>
                            <div class="nk-widget-match">
                                <a href="#">
                                    <span class="nk-widget-match-left">
                                        <span class="nk-widget-match-teams">
                                            <span class="nk-widget-match-team-logo">
                                                <img src="assets/images/team-3.jpg" alt="">
                                            </span>
                                            <span class="nk-widget-match-vs">VS</span>
                                            <span class="nk-widget-match-team-logo">
                                                <img src="assets/images/team-2.jpg" alt="">
                                            </span>
                                        </span>
                                        <span class="nk-widget-match-date">LoL - Apr 24, 2018 7:20 pm</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>