<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Defense of the Ancients (DotA)
        </h3>
      </div>
      <div class="col-xs-12 col-md-8">
        <p class="text-wrap">
          Defense of the Ancients (DotA) is a multiplayer online battle arena (MOBA) mod for the video game Warcraft III: Reign of Chaos (2002) and its expansion, The Frozen Throne. The objective of the game is for each team to destroy their opponents' Ancient, a heavily guarded structure at the opposing corner of the map. Players use powerful units known as heroes, and are assisted by allied teammates and AI-controlled fighters. As in role-playing games, players level up their heroes and use gold to buy equipment during the game.
        </p>
        <p>
          DotA has its roots in the "Aeon of Strife" custom map for StarCraft. The scenario was developed with the World Editor of Reign of Chaos, and was updated upon the release of its expansion, The Frozen Throne. There have been many variations of the original concept, the most popular being DotA Allstars, eventually simplified to DotA. The mod has been maintained by several authors during development, with the pseudonymous designer known as IceFrog maintaining the game since the mid-2000s.
        </p>
        <p>
          DotA became a feature at several worldwide tournaments, including Blizzard Entertainment's BlizzCon and the Asian World Cyber Games. Critical reception to DotA was positive, with it being called one of the most popular mods of any game. DotA is largely attributed as being the most significant inspiration for the MOBA genre. American video game developer Valve acquired the intellectual property rights to DotA in 2009 to develop a franchise, beginning with Dota 2 in 2013.
        </p>
      </div>
      <div class="col-xs-12 col-md-4">
        <img src="assets/image/dota-map.png" class="img-fluid">
      </div>
    </div>
  </div>