<div class="content first-content">
    <div class="container-fluid">
        <div class="col-md-3">
            <div class="author-image"><img src="assets/image/dota-map.png" alt="Author Image"></div>
        </div>
        <div class="col-md-9">
            <h2>Defense of the Ancients</h2>
            <p>
            <strong><a rel="nofollow" href="https://www.dota2.com/home">Dota 2</a></strong> is a multiplayer online battle arena <em>(MOBA)</em> video game in which two teams of five players compete to collectively destroy a large structure defended by the opposing team known as the "<em>Ancient</em>", whilst defending their own.
            </p>
            <div class="main-btn"><a href="#2">Read More</a></div>
            <div class="fb-btn"><a rel="nofollow" target="_blank" href="https://store.steampowered.com/app/570/Dota_2">Download</a></div>
        </div>
    </div>
</div>