<h3>
    DotA Heroes
</h3>

<mat-button-toggle-group name="hero-type" aria-label="Font Style" [value]="heroType" (change)="onValChange($event)">
    <mat-button-toggle value="">All</mat-button-toggle>
    <mat-button-toggle value="STRENGTH">Strength</mat-button-toggle>
    <mat-button-toggle value="INTELLIGENCE">Intelligence</mat-button-toggle>
    <mat-button-toggle value="AGILITY">Agility</mat-button-toggle>
</mat-button-toggle-group>


<div class="content fourth-content">
    <div class="container-fluid">
        <div class="row">
            <div class="hero-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let hero of heroes">
                <div class="item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="hover-content">
                                <h2>{{hero.name}}</h2>
                                <p>{{hero.heroType}}</p>
                            </div>
                        </div>
                        <div class="image">
                            <img [src]="'/assets/image/heroes/' + hero.imageName">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>