.dp-hero-type-btn-wrapper {
    text-align: center;
}

.dp-hero-box {
    margin-bottom: 15px;
}
.dp-hero-box .dp-hero-name {
    color: #ffffff;
    text-transform: capitalize;
    font-size: large;
}

.dp-hero-overlay {
    cursor: pointer;
}
