.hero-type-btn-wrapper {
    text-align: center;
}

.hero-box {
    margin-bottom: 15px;
}
.hero-box .hero-name {
    color: #ffffff;
    text-transform: capitalize;
    font-size: large;
}

.hero-overlay {
    cursor: pointer;
}
