<div class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row dp-tournament-info">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <table class="nk-table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <span (click)="back();">
                                    <i class="fa fa-arrow-left back" aria-hidden="true"></i>
                                </span>
                                Tournament Detail
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="dp-image-box">
                                    <img class="img-fluid" [src]="'assets/image/tournaments/' + tournament?.image" >
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Price Pool</td>
                            <td>
                                {{ tournament?.prizePool | currency:'USD': 'symbol' }}
                            </td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>
                                {{ tournament?.startDate | date: 'mediumDate' }} 
                            </td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>
                                {{ tournament?.endDate | date: 'mediumDate' }}
                            </td>
                        </tr>
                        <tr>
                            <td>Region</td>
                            <td>
                                {{ tournament?.region | region }}
                            </td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>
                                {{ tournament?.tournamentType | tournamentPipe }}
                            </td>
                        </tr>
                        <tr>
                            <td>DPC Point</td>
                            <td>{{ tournament?.totalDpcPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <table class="nk-table">
                    <thead>
                        <tr>
                            <th colspan="5">Teams Participant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>#</th>
                            <th>Team</th>
                            <th>Price</th>
                            <th *ngIf="columnDpc">DPC</th>
                            <th *ngIf="columnSeed">Seed</th>
                        </tr>
                        <tr *ngFor="let team of tournamentTeams; let i = index">
                            <td>{{i + 1}}</td>
                            <td>
                                <img [src]="'assets/image/teams-logo-100/' + team.teamId + '.png'" class="dp-team-participant-logo" alt="">
                                <span class="dp-team-participant-name" routerLink="/team/{{team.teamId}}" >{{team.teamName}}</span>
                            </td>
                            <td>
                                {{ team.price | currency:'USD': 'symbol' }}
                            </td>
                            <td *ngIf="columnDpc">{{team.dpcPoints}}</td>
                            <td *ngIf="columnSeed">{{team.seed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="nk-gap-2"></div>
        
        <div class="dp-team-player-wrapper row col-xs-12">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let t of teams">
                <div class="col-xs-12 dp-team-name" routerLink="/team/{{t.teamId}}">
                    {{t.teamName}}
                </div>
                <div class="col-xs-12 dp-team" (mouseenter)="teamMouseover(t)" (mouseleave)="teamMouseLeave(t)">
                    <img [src]="'assets/image/teams-logo-100/' + t.teamId + '.png'" class="dp-team-logo" alt=""
                        [ngClass]="{'show': t.showImage}">
                    <ol class="text-main-1 pl-20 dp-players"
                        [ngClass]="{'hide': t.showImage}">
                        <li *ngFor="let p of t.players">
                            <span class="text-white dp-player">{{p.playerNickName}}</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        
        <div class="row dp-round-robind-wrapper" [hidden]="!roundSeries">
            <div class="dp-series-wrapper col-xs-12 col-sm-12 col-md-6 col-lg-4" *ngFor="let round of roundSeries">
                <table class="table" >
                    <thead>
                        <tr>
                            <th colspan="3" class="dp-week-index">
                                <h5>
                                    {{round.name}}
                                </h5>
                            </th>
                        </tr>
                    </thead>                
                </table>
                <table class="table" *ngFor="let series of round.roundSeriesDaily">
                    <thead>
                        <tr>
                            <th colspan="5" class="dp-series-name">{{series.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let match of series.series" (click)="openSeries(match)" class="series-row">
                            <td class="team-a">
                                {{ match.teamAShortName }}
                                <div class="dp-image-wrapper">
                                    <img [src]="'assets/image/teams-logo-100/' + match.teamAId + '.png'" class="" alt="">
                                </div>
                            </td>
                            <td class="score"
                                [ngClass]="{'lose': match.teamAScore < match.teamBScore, 
                                    'win': match.teamAScore > match.teamBScore}">
                                {{match.teamAScore}}
                            </td>
                            <td class="score">
                                -
                            </td>
                            <td class="score"
                                [ngClass]="{'win': match.teamAScore < match.teamBScore, 
                                    'lose': match.teamAScore > match.teamBScore}">
                                {{match.teamBScore}}
                            </td>
                            <td class="team-b">
                                <div class="dp-image-wrapper">
                                    <img [src]="'assets/image/teams-logo-100/' + match.teamBId + '.png'" class="" alt="">
                                </div>
                                {{ match.teamBShortName }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row dp-bracket-wrapper" [hidden]="!tournamentData">
            <ngtt-double-elimination-tree
                [tournament]="tournamentData"
                [matchTemplate]="matchTemplate">
            </ngtt-double-elimination-tree>

            <ng-template #matchTemplate let-match>
                <ngtt-match [match]="match"></ngtt-match>
            </ng-template>
        </div>
    </div>
    <app-footer></app-footer>
</div>