.dp-tournament-info .back {
    cursor: pointer;
}
.dp-tournament-info-left {
    background-color: #292e38;
}

.dp-image-box {
    background-color: #292e38;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.dp-team-player-wrapper {
    margin-bottom: 10px;
}
.dp-team-player-wrapper .dp-team-name {
    cursor: pointer;
    text-align: center;
    font-size: large;
    color: #ffffff;
}
.dp-team-player-wrapper .dp-team {
    position: relative;
    height: 150px;
}
.dp-team-player-wrapper .dp-team .dp-team-logo {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    display: none;
}
.dp-team-player-wrapper .dp-team .dp-team-logo.show {
    display: block;
}
.dp-team-player-wrapper .dp-team .dp-players.hide {
    display: none;
}
.dp-team-player-wrapper .dp-team .dp-players .dp-player {
    font-size: large;
    cursor: pointer;
}

.dp-team-participant-logo {
    height: 25px;
    width: 25px;
}
.dp-team-participant-name {
    cursor: pointer;
    margin-left: 5px;
}

.dp-round-robind-wrapper {
    margin-top: 30px;
}

.dp-round-robind-wrapper .dp-series-wrapper {
    margin-top: 30px;
}

.dp-round-robind-wrapper .dp-week-index {
    background-color: #292e38;
}

.dp-round-robind-wrapper .table {
    color: white;
    margin-bottom: 0px;
    border-bottom: none;
}

.dp-round-robind-wrapper .table h5 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.dp-round-robind-wrapper .table .dp-series-name {
    text-align: center;
    background: #2a2e38;
}

.dp-round-robind-wrapper .table tbody tr {
    cursor: pointer;
    background: #2e3641;
}
.dp-round-robind-wrapper .table tbody tr:hover {
    background: #535760;
}

.dp-round-robind-wrapper .table .team-a {
    text-align: right;
    
}

.dp-round-robind-wrapper .table .team-b {
    text-align: left;
    
}

.dp-round-robind-wrapper .table .score {
    text-align: center;
    
}

.dp-round-robind-wrapper .table .score.lose {
    color: red;
}

.dp-round-robind-wrapper .table .score.win {
    color: green;
}

.dp-round-robind-wrapper .dp-image-wrapper {
    height: 20px;
    width: 20px;
    position: relative;
}

.dp-round-robind-wrapper .team-a .dp-image-wrapper {
    float: right;
    margin-left: 5px;
}

.dp-round-robind-wrapper .team-b .dp-image-wrapper {
    float: left;
    margin-right: 5px;
}

.dp-round-robind-wrapper .dp-image-wrapper img {
    max-height: 20px;
    max-width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.dp-bracket-wrapper {
    overflow-x: scroll;
}

