.container {
    padding-top: 10px;
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}

.title-area {
    float: left;
}
.title-area h3 {
    float: left;
    position: relative;
    top: 3px;
}
.title-area button {
    float: left;
}

.image img {
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    cursor: pointer;
}

.mat-list-base {
    padding-top: 0px;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 19px;
}

.table {
    color: white;
    margin-bottom: 0px;
    border-bottom: none;
}

.logo-100 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.tournament-info .image-wrapper {
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 10px;
}

.tournament-info .image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.round-robind-wrapper {
    margin-top: 30px;
}

.round-robind-wrapper .series-wrapper {
    margin-top: 10px;
}

.round-robind-wrapper .table {
    color: white;
    margin-bottom: 0px;
    border-bottom: none;
}

.round-robind-wrapper .table h5 {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.round-robind-wrapper .table .series-name {
    text-align: center;
}

.round-robind-wrapper .table .team-a {
    text-align: right;
    cursor: pointer;
}

.round-robind-wrapper .table .team-b {
    text-align: left;
    cursor: pointer;
}

.round-robind-wrapper .table .score {
    text-align: center;
    cursor: pointer;
}

.round-robind-wrapper .table .score.lose {
    color: red;
}

.round-robind-wrapper .table .score.win {
    color: green;
}

.round-robind-wrapper .image-wrapper {
    height: 20px;
    width: 20px;
    position: relative;
}

.round-robind-wrapper .team-a .image-wrapper {
    float: right;
    margin-left: 5px;
}

.round-robind-wrapper .team-b .image-wrapper {
    float: left;
    margin-right: 5px;
}

.round-robind-wrapper .image-wrapper img {
    max-height: 20px;
    max-width: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.bracket-wrapper {
    margin-top: 30px;
    width: 100%;
}



