<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
    <mat-tab *ngFor="let region of regions; let i = index;" label="{{region.abbreviation}}">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" *ngIf="teamsLoaded[i] === false">
                    Please wait...
                </div>
                <div class="col-xs-12" *ngIf="teamsLoaded[i] === true && teams[region.index].length === 0">
                    No Teams available.
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let team of teams[region.index]">
            <div class="row teams" [ngClass]="region.key">
                <div class="col-xs-12">
                    <h3 class="team-tittle">
                        {{team.teamA?.name}}
                    </h3>
                </div>
                <div class="col-md-7">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start"
                            *ngFor="let player of team.teamA?.players">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{player.nickName}} - {{player.fullName}}</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">
                              {{player.role}}
                          </span>
                        </li>
                    </ol>
                    <button mat-button>Upcoming Match</button>
                </div>
                <div class="col-md-5">
                    <img [src]="'assets/image/teams/' + team.teamA?.image" class="img-fluid" alt="...">
                </div>
            </div>
            <div class="row" [ngClass]="region.key">
                <div class="col-xs-12">
                    <h3 class="team-tittle">
                        {{team.teamB?.name}}
                    </h3>
                </div>
                <div class="col-md-5">
                    <img [src]="'assets/image/teams/' + team.teamB?.image" class="img-fluid" alt="...">
                </div>
                <div class="col-md-7">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start"
                            *ngFor="let player of team.teamB?.players">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{player.nickName}}</div>
                            {{player.fullName}}
                          </div>
                          <span class="badge bg-primary rounded-pill">
                              {{player.role}}
                          </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>