<div class="content third-content">
    <div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
        <div class="first-section section">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                <div class="left-content">
                    <h2>Team Spirit - TI 2021 Champion</h2>
                    <ul>
                    <li>Illya "Yatoro" Mulyarchuk</li>
                    <li>Alexander "TORONTOTOKYO" Khertek</li>
                    <li>Magomed "Collapse" Khalilov</li>
                    <li>Miroslaw "Mira" Kolpakov</li>
                    <li>Yaroslav "Miposhka" Naidenov</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="right-image">
                    <img src="assets/image/ti-2021.jpeg" alt="first service">
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="second-section section">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                <div class="left-image">
                    <img src="assets/image/ti-2019.jpeg" alt="second service">
                </div>
                </div>
                <div class="col-md-6">
                <div class="right-content">
                    <h2>OG - TI 2019 & 2018 Champions</h2>
                    <ul>
                    <li>Anathan "ana" Pham</li>
                    <li>Topias "Topson" Taavitsainen</li>
                    <li>Sébastien "Ceb" Debs</li>
                    <li>Jesse "JerAx" Vainikka</li>
                    <li>Johan "NOtail" Sundstein</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="first-section section">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                <div class="left-content">
                    <h2>Team Liquid - TI 2017 Champion</h2>
                    <ul>
                    <li>Lasse "MATUMBAMAN" Urpalainen</li>
                    <li>Amer "Miracle-" Al-Barkawi</li>
                    <li>Ivan "MinD_ContRoL" Ivanov</li>
                    <li>Maroun "GH" Merhej</li>
                    <li>Kuro "KuroKy" Salehi Takhasomi</li>
                    </ul>
                    <div class="main-btn"><a href="#4">Continue Reading</a></div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="right-image">
                    <img src="assets/image/ti-2017.jpeg" alt="first service">
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>