//
// COLORS
//

$ngtt-background-primary: #292e38;
// $ngtt-accent-primary: goldenrod;
$ngtt-accent-primary: #dd163b;
$ngtt-background-secondary: transparent;


//
// NgttTournament Tree Configuration
//

// tournament tree colors
$ngtt-background-color: $ngtt-background-primary !default;
$ngtt-line-color-main: $ngtt-accent-primary !default;
$ngtt-bracket-separator-color: $ngtt-background-secondary !default;
$ngtt-match-container-background: $ngtt-background-secondary;

//tree scaling
$ngtt-match-wrapper-width: 200px !default;
$ngtt-match-wrapper-height: 100px !default;
$ngtt-vertical-match-padding: 5px !default;
$ngtt-round-gutters: 10px !default;
$ngtt-bracket-border-radius: 0 !default;
$ngtt-bracket-line-width: 1px !default;